@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

@media (max-width: 767px) {
  .imgTitle {
    width: 209.26px;
  }
  .cardresponsive {
    flex-direction: column;
    height: 501px;
    width: 300px;
  }
  .cardtext {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    height: 400px;
    width: 260px;
    gap: 24px;
  }
  .spaceshipresponsive {
    right: -75px;
    bottom: -55px;
  }
  .desk {
    display: none;
  }
}

@media (min-width: 768px) {
  .imgcard {
    width: 100%;
    max-width: 400px;
  }
  .cardresponsive {
    width: 800px;
  }
  .cardtext {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    height: 400px;
    width: 400px;
    gap: 24px;
  }
  .spaceshipresponsive {
    left: -112px;
    bottom: -112px;
  }
  .mobile {
    display: none;
  }
}
